In [1]:
a = 3

In [3]:
# 변수 연산 = {+,-,*,/, ** , //}
b=2
a+b

5

In [4]:
a-b

1

In [5]:
a*b

6

In [6]:
a/b

1.5

In [7]:
a**b

9

In [8]:
a//b # integer division

1

In [12]:
#naming convention
#PEP8
#String
teammember='lkm'
teamMember = 'yang' # camelCase
team_member = 'Chris Ray' #PEP8

In [15]:
team_member

'Chris Ray'

In [16]:
team_member[0]

'C'

In [19]:
a = "Helen's House"
a

"Helen's House"

In [20]:
team_member[6:9] # 6포함 starting-point, 9미포함 end-point

'Ray'

In [21]:
team_member = team_member + ' is your name'
team_member

'Chris Ray is your name'

In [23]:
# list
a = [1,2,3]
a

[1, 2, 3]

In [24]:
a.append(4)
a

[1, 2, 3, 4]

In [26]:
a.insert(2,-1)
a

[0, 1, -1, 2, 3, 4]

In [28]:
a.sort()
a.reverse()
a

[4, 3, 2, 1, 0, -1]

In [30]:
a.index(0)

4

In [31]:
a[0]

4

In [34]:
a.remove(-1)
a

[4, 3, 2, 0]

In [35]:
a=[2,2,2,2]
a.remove(2)
a

[2, 2, 2]

In [36]:
a=[1,2,3]
a.pop() # pop = 제일 마지막 요소를 뽑아서 리턴하고 && 걔를 delete시킨다

3

In [37]:
a

[1, 2]

In [38]:
"""
스택 == 자료구조의 일종으로, 특수한 선형 리스트
LIFO : Last In First Out
Top : 가장 최근에 들어간 요소
pop : TOP의 요소를 가지고 나오는 함수
"""

'\n스택 == 자료구조의 일종으로, 특수한 선형 리스트\nLIFO : Last In First Out\nTop : 가장 최근에 들어간 요소\npop : TOP의 요소를 가지고 나오는 함수\n'

In [41]:
a = [1,1,2,3]
a.count(4)

0

In [42]:
a = [1,2,3]
b = [4,5,6]
a.append(b)
a

[1, 2, 3, [4, 5, 6]]

In [44]:
a[2]

3

In [45]:
a.extend(b)

In [46]:
a

[1, 2, 3, [4, 5, 6], 4, 5, 6]

In [47]:
a.remove(2)

In [48]:
a

[1, 3, [4, 5, 6], 4, 5, 6]

In [49]:
del a[0]

In [50]:
a

[3, [4, 5, 6], 4, 5, 6]

In [75]:
#tuple
coordinate = (1,2)
b = (1,2,3,4,5)
coordinate

(1, 2)

In [58]:
#dictionary
a = []
dict = {'name':'Chris','age':22,'address':'seoul'}
dict

{'address': 'seoul', 'age': 22, 'name': 'Chris'}

In [61]:
for key in dict.keys():
    print(key)

address
name
age

In [62]:
for value in dict.values():
    print(value)

seoul
Chris
22

In [65]:
dict["name"]
#request.dict['login_id'] --> request.POST['login_id'] # url('^$',HomeView.as_view())
POST = {'login_id':'chris', 'login_pw':'1234'}
POST['login_id']

'chris'

In [66]:
POST.get('login_id')

'chris'

In [67]:
POST.clear()
POST

{}

In [69]:
a = []
b = {}
a

[]

In [70]:
b

{}

In [74]:
#집합 자료형 set : 고1 때 배우는 집합 unordered data type < -- > tuple ordered data type
#연산 = {합집합,차집합,교집합,여집합}
s1 = set('Bye')
s1

{'B', 'e', 'y'}

In [79]:
s1 = set([1,2,3,4,5,6])
s2 = set([2,3,4,5,6,7,8,9])
s2.intersection(s1) # s1 inter s2 == s2 inter s1

{2, 3, 4, 5, 6}

In [78]:
s1.difference(s2) # s1 - s2 != s2 - s1
s2.difference(s1) # s2 - s1

{7, 8, 9}

In [81]:
s2.union(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [83]:
# 조건문
# if , else , elif
# else : else가 나오기 전까지의 모든 조건에 대한 '여집합'
# elif : elif 위의 if 조건을 모두 제외하고 사용자가 새롭게 정의하는 조건에 만족하는 집합
a = 3 # 배정문
if a < 0:
    print('a is negative')
elif a == 0:
    print('a is zero')
else:
    print('else done')

else done

In [84]:
a is 3 # 객체의 비교
#이때 a나 3이 둘다 primitive 타입이므로 객체의 비교지만 값을 비교해서 True 리턴한다
#클래스 간의 객체를 비교할 때는 False가 나올 수 있다 :::> 인스턴스의 메모리 주소!

True

In [85]:
a == 3 # 값의 비교

True

In [86]:
# 반복문
# while, for
# break, continue
a = 0
while True: #무한루프
    a = a + 1
    if a > 3:
        break
    print(a)

1
2
3

In [100]:
#list[:]
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [101]:
# 구구단 2~9단 결과를 출력해보시오! 2,4~81
for parent in range(2,10):
    for child in range(1,10):
        print(parent*child)

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [104]:
for_app = [x*y for x in range(2,10) for y in range(1,10)]
len(for_app)

72

In [112]:
for index, child in enumerate(for_app):
    print('index='+str(index))
    print(child)

index=0
2
index=1
4
index=2
6
index=3
8
index=4
10
index=5
12
index=6
14
index=7
16
index=8
18
index=9
3
index=10
6
index=11
9
index=12
12
index=13
15
index=14
18
index=15
21
index=16
24
index=17
27
index=18
4
index=19
8
index=20
12
index=21
16
index=22
20
index=23
24
index=24
28
index=25
32
index=26
36
index=27
5
index=28
10
index=29
15
index=30
20
index=31
25
index=32
30
index=33
35
index=34
40
index=35
45
index=36
6
index=37
12
index=38
18
index=39
24
index=40
30
index=41
36
index=42
42
index=43
48
index=44
54
index=45
7
index=46
14
index=47
21
index=48
28
index=49
35
index=50
42
index=51
49
index=52
56
index=53
63
index=54
8
index=55
16
index=56
24
index=57
32
index=58
40
index=59
48
index=60
56
index=61
64
index=62
72
index=63
9
index=64
18
index=65
27
index=66
36
index=67
45
index=68
54
index=69
63
index=70
72
index=71
81

In [111]:
a = '3'
print(float(a))

3.0

In [118]:
#함수
"""
def 함수명(파라미터1,...):
    
"""
def sum(*args):
    result = 0
    for e in args:
        result += e
    return result
sum(1,2,3)

6

In [122]:
def sum(a,b=0): # 함수 파라미터 디폴트 값처리 --> 클래스 __init__ 함수에서 많이 활용됨!
    return a+b
sum(1)

1

In [125]:
#사용자 입출력
a = input('이름을 입력해주세요')
print('결과는 '+str(a))

이름을 입력해주세요chris ray
결과는 chris ray

In [127]:
#파일 입출력 IO
"""
test.txt
first line
second line
last line
"""
chris = open('test.txt','r')
lines = chris.readlines()
print(lines)
chris.close()

['first line\n', 'second line\n', 'last line\n']

In [128]:
with open('test.txt','r') as chris:
    lines = chris.readlines()
    print(lines)

['first line\n', 'second line\n', 'last line\n']

In [130]:
# 클래스 : ADT(Abstract Data Type) 그 자체. 추상적인 대상에 대한 구체적 모델링의 결과. 클래스의 목적은 '재사용!' 구조적 프로그래밍을 위한 도구.
"""
클래스 = { 변수,함수 }
- 변수 : ex) reqeust.POST == request라는 특정 클래스의 객체(인스턴스)가 가지는 변수 POST (장고에서 datatype은 dictionary였음)
- 함수 :
ex) 1: HomeView.as_view() == HomeView라는 클래스의 as_view라는 함수 , 2) math.ceiling(3.2) == math라는 클래스의 함수 ceiling
"""
import math
a = 3.2
print(math.ceil(a)) # ceiling : 천장 , 높임 <--> floor : 바닥 , 내림

4

In [164]:
class car:
    #변수
    type = None #'승용','승합','트럭','스포츠카','세단'
    company = None #'현대','기아','포르쉐','페라리'
    eff = None
    
    #public protected private ==> name, _name, __name
    
    #함수
    
    def start_car(self):
        print('시동을 거는 중...')
        print('시동이 걸렸습니다')
    def show_me_your_info(self):
        print('나는 '+self.type+'이고 회사는 '+self.company+'이다')
    def show_milege(self,m):
        print(str(m)+'L로 나는 '+str(self.eff*m)+'km 를 달릴 수 있다.')
    
    def __init__(self,type='승용',company='현대',eff=3):
        self.type = type
        self.company = company
        self.eff = eff

a = car(type='승합',company='페라리',eff=10)
b = car(type='승합',company='페라리',eff=10)

In [157]:
# 다시 기억나기 위한 재귀 체크!!!!
def recursive(cnt):
    if cnt < 0:
        return
    print(cnt)
    cnt -=1
    return recursive(cnt)
recursive(3)

3
2
1
0

In [177]:
# 상속(Inheritance)과 Overriding
class high_rank_car(car):
    password = None
    """
    def start_car(self):
        print('나는 고급차기때문에 car와는 차원이 다릅니다.')
        print('바로 시동이 걸렸습니다.')
    """
    #Overloading 오버로딩 : 함수의 이름은 똑같지만 파라미터가 다르도 (종류,개수) 구현 방법이 다르다
    def start_car(self,pw=None):
        if pw is None:
            print('비밀번호를 입력하지 않았습니다')
            return
        if self.password == pw:
            print('패스워드가 일치합니다, 시동이 걸렸습니다.')
            return
        print('패스워드가 일치하지 않습니다, 당신은 도둑입니다')
    
    def __init__(self,type='스포츠카',company='포르쉐',eff=-1,password='1234'):
        self.type = type
        self.company = company
        self.eff = eff
        self.password = password
        print('나는 고급차 생성자야')
    
high = high_rank_car(type='세단',company='기아',eff='5.2',password='chrisray_password')
high.start_car('chrisray_password')

나는 고급차 생성자야
패스워드가 일치합니다, 시동이 걸렸습니다.

In [180]:
"""
class bicycle:
    pass
"""
class bicycle(object):
    pass

bic = bicycle()
bic
# object --> ... --> car(parent) --> high_rank_car(child) -->